.slider {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
    margin-top: 10px;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 30px;
}

.right {
    right: 30px;
}


/* dots */

.dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dots span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

.dots .active {
    background: #ff3f6c;
}